* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: royalblue;
    padding: 6% 10%;
    font-family: "Parisienne", serif;
    justify-content: stretch;
    align-items: stretch;
    flex-wrap: nowrap;
}

#form {
   display: grid;
    /*background-color: aqua;*/
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 40px;

}
#button, #input {
    padding: 0px 20px;
    font-size: 16px;
    min-height: 50px;

}
#input{
    grid-column: 1 / span 2;
}
#button{
    margin-left: 20px;
    /*padding: 20px;*/
}

#lijst {
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.tegel {
    background-color: antiquewhite;
    color: darkslateblue;
    font-size: 64px;
    padding: 50px;
    margin: 40px 0px 0px 0px;
    border-radius: 32px;
    text-align: center;
    line-height: 1.6;
}