* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #001C2E;
    padding: 6% 10%;
    font-family: "Parisienne", serif;
    justify-content: stretch;
    align-items: stretch;
    flex-wrap: nowrap;
}

#h1 {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
    font-size: 36px;
    color: #C0DBED;
    text-align: center;
}

#form {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    margin-bottom: 30px;
    align-items: center;
}
#button, #input {
    padding: 0px 20px;
    font-size: 16px;
    font-weight: bold;
    min-height: 50px;
    letter-spacing: 2px;
    font-family: 'roboto';
    border: 5px solid #000E17;
}

#button{
    background-color: #0161A2;
    color: #A0C9E5;
    padding: 14px;
}

#lijst {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    grid-gap: 1rem;
}

.tegel {
    background-color: #DFEDF6;
    font-family: serif;
    color: #000E17;
    font-size: 3.6em;
    padding: 50px;
    margin: 40px 0px 10px 0px;
    border-radius: 32px;
    text-align: center;
    line-height: 1.6;
    border: 5px solid #000E17;
}
